.display {
  margin: -130px auto 0;
  max-width: 720px;
}

.display__wave {
  position: relative;
  overflow: hidden;
}

.display__image {
  display: block;
  max-width: calc(100% - 3em);
  margin: 0 1.5em;
}

.display__wave--is-playing > .display__time-marker {
  opacity: 1;
  animation-name: 'time-marker';
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.display__time-marker {
  opacity: 0;
  position: absolute;
  top: 150px;
  left: 24px;
  width: calc(100% - 3em);
}

.display__time-marker::after {
  content: '';
  display: block;
  width: 1px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
}

/* .display__audio {
  display: block;
  width: calc(100% - 3em);
  margin: -80px 1.5em 0;
} */

.display__wave--is-playing > .display__play-button {
  /* display: none; */
}

.display__play-button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 175px;
  cursor: pointer;
}

.display__play-button:hover > .display__play-icon {
  opacity: 1;
}

.display__play-icon {
  margin: 0 auto;
  color: #fff;
  font-size: 150px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

@keyframes time-marker {
  from {
    transform: 0;
  }
  to {
    transform: translateX(100%);
  }
}