@import url('https://fonts.googleapis.com/css?family=Fahkwang|Source+Sans+Pro');

html {
  min-height: 100%;
  background-color: #1A191A;
  font-family: 'Fahkwang', 'Source Sans Pro', sans-serif !important;
}

.input-form {
  display: flex;
  margin: 0 auto;
}